.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.pagination {
  display: flex;
  justify-content: space-around;
}

.active {
  color: red;
}

li {
  list-style-type: none;
}

.box {
  display: flex;
  justify-content: space-around;
}

a {
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

img {
  width: 33%;
  height: 100%;
}
